
/* general */
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body{
    background: rgb(0,171,168);
    background: radial-gradient(circle, rgba(0,171,168,1) 0%, rgba(35,35,35,1) 100%);}
    
    p, h1, h2, h3, h4, h5, h6{
        color: #ffff;
    }
    
section{
    display: flex;
    margin-bottom: 50px;
}

/* navbar */
.logo a{
    font-size: 25px;
    font-weight: bold;
    float: left;
    text-decoration: none;
    color: #ffff;
}

.wrapper1{
    width: 1000px;
    margin: auto;
    position: relative;
}


.menu{
    float: right;
}

nav{
    width: 100%;
    backdrop-filter: blur(25px);
    display: flex;
    line-height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 10em;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #ffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav ul li a:hover{
    color:burlywood;
}


/* konten1 */
.wrapper2{
    width: 1200px;
    margin-top:100px;
    position: relative;
    margin-left: 200px;
}

.konten1{
    margin-top: 100px;
}

.konten1 h1{
    font-size: 60px;
    color: #03071e;
    font-family: "Poppins";
    font-weight:bold;
}


.circle-icon{
    background: #edede9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 20px;
}

.sosmed {
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.fotoProfil{
    width: 600px;
    height: 500px;
}


.tombol{
    background-color: #8338ec;
    margin-top: 50px;
    color:#ffff;
    border-style: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
}

.tombol:hover{
    background-color: #ffff;
    color: #000000;
}

/* portfolio */
#portfolio{
    margin-top: 350px;
}
.konten2{
    text-decoration: underline;
    
}